{% extends 'base.html' %}

{% block content %}

<div class="container">

    <br />
    <a href="{% url 'main_menu' %}">home</a>&emsp;
    <i id="long-arrow-alt-right" class="fas fa-long-arrow-alt-right"></i>&emsp;
    all professor
    <br /><br />
    <!-- PROFESSOR LIST HEADER -->
    <div id="all_professor-container" class="container">
        <br />
        <div class="col">
            <div class="row">
                {% if request.user.is_superuser %}
                <div class="col-md-6 mr-4">
                    <h1 style="color: white;">Professor</h1>
                </div>

                <div class="ml-auto">
                    <form method="GET" action="{% url 'export_professor_csv' %}">
                        <button id="professor-btn" type="submit" class="btn btn-outline-success mr-4 ml-4">Export CSV</button>
                    </form>
                </div>

                <!-- CREATE PROFESSOR -->
                <form method="GET" action="{% url 'create_professor' %}">
                    <button id="professor-btn" type="submit" class="btn mr-4">Add Professor</button>
                </form>

                {% else %}
                <div class="col-md-6 mr-4">
                    <h1 style="color: white;">Professor</h1>
                </div>
                <div class="ml-auto">
                    <form method="GET" action="{% url 'export_professor_csv' %}">
                        <button id="professor-btn" type="submit" class="btn ml-4 mr-4">Export CSV</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
        <br />
    </div>

    <!-- NAVBAR -->
    <nav id="all_professor-container2" class="navbar navbar-expand-lg">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">


            <!--<ul class="navbar-nav mr-auto">
                <li id="faculties-nav-dropdown" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Faculties
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for key, value in faculties.items %}
                        <a class="dropdown-item" href="{{key}}">{{ value }}</a>
                        {% endfor %}
                    </div>
                </li>
            </ul>-->

            <div class="ml-auto">
                <form class="form-inline my-2 my-lg-0" action="{% url 'all_professor' current_page %}" method="get">
                    <!-- submit query -->
                    <div class="md-form mt-0 ml-4 mr-2">
                        <i class="fas fa-search" style="color: white;" aria-hidden="true"></i>
                        <input class="form-control col-md-12 mr-sm-2 ml-2" name="faculty_name" type="search" placeholder="Search Program..."
                            aria-label="Search" value={{request.GET.faculty_name}}>
                    </div>
                </form>
            </div>
        </div>
    </nav>

    <!-- PROFESSOR LIST -->
    <div id="professor-list" class="bg-light">
        <ul class="list-group">
            {% for professor in professors %}
            <a id="text-list" class="list-group-item list-group-item-light bg-light" href="{% url 'professor_profile' professor.id %}">
                <h6 style="text-align: left; width:98%; display: inline-block;">
                    {{ professor.academic_title }} {{ professor.name_surname }}
                </h6>
                <h6 style="text-align: right; display: inline-block;">
                    <i id="angle-right-icon" class="fas fa-angle-right"></i>
                </h6>
            </a>
            {% endfor %}
        </ul>

    </div>

    <!-- CHANGE PAGE -->
    <div id="all_professor-container" class="container text-center">
        <div class="btn-group" role="group" aria-label="Basic example">

            <div class="pagination">

                {% if professors.has_previous %}
                <a class="pagination-action" href="?page=1">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                </a>
                <a class="pagination-action" href="?page={{ professors.previous_page_number }}">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </a>
                {% endif %}

                {% for num in professors.paginator.page_range %}

                {% if professors.number == num %}
                <span class="pagination-number pagination-current">{{ num }}</span>
                {% elif num > professors.number|add:'-3' and num < professors.number|add:'3' %}
                <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
                {% endif %}

                {% endfor %}

                {% if professors.has_next %}
                <a class="pagination-action" href="?page={{ professors.next_page_number }}">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
                <a class="pagination-action" href="?page={{ professors.paginator.num_pages }}">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>
                {% endif %}
                <br />
            </div>

            <br />
        </div>
        <br />
    </div>

</div>


{% endblock %}