{% extends 'base.html' %}

{% block content %}

<div class="container">
    <br /><br />
    <div class="col">
        <a class="btn col-md-1"><br /><b></b></a>
        <a class="btn col-md-0.5"><br /><b></b></a>

        <a id="StudyProgram2-btn" class="btn col-md-2" href="{% url 'all_faculty_program' %}">
            <br /><b>Faculty's<br />Study Program<br />(หลักสูตรในคณะ)<br />___________________</b></a>

        <a class="btn col-md-0.5"><br /><b></b></a>

        <a id="Appointment-btn" class="btn col-md-2" href="{% url 'committee_appointment' %}">
            <br /><b>IQA Committee<br />Appointment<br />(การนัดกรรมการ)<br />___________________</b></a>

        <a class="btn col-md-0.5"><br /><b></b></a>

        <a id="Calendar-btn" class="btn col-md-2" href="{% url 'assessment_calendar' %}">
            <br /><b>Assessment<br />Calendar<br />(ปฏิทินการประเมิน)<br />___________________</b></a>

        <a class="btn col-md-0.5"><br /><b></b></a>

        <a id="Inbox-btn" class="btn col-md-2" href="{% url 'inbox' %}">
            <br /><b><br />Inbox<br />(ข้อความ)<br />___________________</b></a>

        <a class="btn col-md-0.5"><br /><b></b></a>

    </div>
</div>

{% endblock %}